:root {
  --basic-color: #FFFFFF;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --accent-color-alfa: rgba(33, 150, 243, 0.9);
  --bg-color-dark: #2F303A;
  --bg-color-light: #F5F4FA;
  --border-color: #ECECEC;
  --social-icons-color: #AFB1B8;
  --cards-list-gap: 30px;
  --mobile-gap: 30px;
  --nav-margin-right: 50px;
  --default-margin-bottom: 50px;
  --mob-tab-margin-bottom: 30px;
  --margin-right: 30px;
  --padding-top: 94px;
  --padding-bottom: 94px;
  --mt-pt: 60px;
  --mt-pb: 60px;
  --footer-pt: 60px;
  --footer-pb: 60px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --logo-font-family: "Raleway", sans-serif;
}

body {
  color: var(--main-text-color);
  background-color: var(--basic-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: var(--mt-pt);
  padding-bottom: var(--mt-pb);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: var(--mob-tab-margin-bottom);
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: var(--default-margin-bottom);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*  h2 on the main page*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.footer {
  background-color: var(--bg-color-dark);
  padding-top: var(--footer-pt);
  padding-bottom: var(--footer-pb);
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .mobile {
    margin-right: 93px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.4);
  width: 100vw;
  height: 100vh;
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function);
  overflow-y: scroll;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
            transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: relative;
  background-color: var(--basic-color);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 100%;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  opacity: 1;
}

@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__icon {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: black;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* Form inputs, labels and button*/
.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form__modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 11px;
}

.form-container {
  margin-bottom: 10px;
}

.form-container__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-container__input {
  position: relative;
  background-color: transparent;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  padding-left: 42px;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.form-container__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form-container__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-container__field:last-child {
  margin-bottom: 0;
}

.form-container__field:hover .form-container__input,
.form-container__field:focus-within .form-container__input {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-container__field:hover .form-container__icon,
.form-container__field:focus-within .form-container__icon {
  fill: var(--accent-color);
}

.form-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form-comment__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-comment__textarea {
  max-width: 100%;
  height: 120px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  resize: none;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form-comment__textarea:hover, .form-comment__textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-comment__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.form-policy__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.form-policy__checkbox-unchecked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form-policy__check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  cursor: pointer;
}

.form-policy__icon {
  position: absolute;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

@media screen and (max-width: 1199px) {
  .form-policy__text {
    font-size: 12px;
    letter-spacing: 0.03em;
  }
}

.form-policy__link {
  color: var(--accent-color);
}

.form-policy__checkbox:checked + .form-policy__icon {
  background-color: var(--accent-color);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 2px;
}

.form-policy__check-box:hover .form-policy__checkbox-unchecked,
.form-policy__check-box:focus-within .form-policy__checkbox-unchecked {
  border-color: #188CE8;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accent-color);
  color: var(--basic-color);
  min-width: 200px;
  cursor: pointer;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form__button:hover, .form__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantage-list__item {
    margin-right: 30px;
    max-width: 270px;
  }
  .advantage-list__item:last-child {
    margin-right: 0;
  }
  .advantage-list__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
    background-color: var(--bg-color-light);
    border-radius: 4px;
  }
  .advantage-list__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .advantage-list__text {
    color: var(--secondary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 0;
  }
}

.section--nopadding-top {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--mobile-tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activities__item {
    position: relative;
    margin-right: 30px;
  }
  .activities__text {
    position: absolute;
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    color: var(--basic-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .activities__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__item:not(:last-child) {
    margin-right: var(--margin-right);
  }
  .team__box {
    padding: 30px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients__item {
    width: 170px;
    height: 92px;
    margin-right: var(--margin-right);
  }
  .clients__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: start;
  }
  .footer-container__logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .footer-container__address {
    margin-bottom: 0;
  }
  .footer__contacts-box {
    text-align: start;
    margin-right: 70px;
  }
  .footer__form {
    width: 570px;
    text-align: start;
    margin-left: auto;
  }
  .footer__form-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  .footer__form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* buttons on the portfolio page */
@media screen and (min-width: 1200px) {
  .filter__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin-bottom: var(--default-margin-bottom);
  }
  .filter__item {
    margin-right: 8px;
  }
  .filter__item:last-child {
    margin-right: 0;
  }
  .filter__btn {
    background-color: var(--bg-color-light);
    color: currentColor;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  }
  .filter__btn:hover, .filter__btn:focus {
    color: var(--basic-color);
    background-color: var(--accent-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .filter__btn--active {
    color: var(--basic-color);
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .cards-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * var(--cards-list-gap));
    margin-top: calc(-1 * var(--cards-list-gap));
  }
  .cards-list .card__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--cards-list-gap));
        flex-basis: calc(100% / 3 - var(--cards-list-gap));
    margin-left: var(--cards-list-gap);
    margin-top: var(--cards-list-gap);
  }
  .card__link {
    display: block;
    text-decoration: none;
    -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
    transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  }
  .card__link:hover, .card__link:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .card__link:hover .card__overlay, .card__link:focus .card__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card__description {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
  .card__thumb {
    position: relative;
    overflow: hidden;
  }
  .card__overlay {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--accent-color-alfa);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
    transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  }
  .card__text-overlay {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    padding: 63px 24px;
  }
  /* content within cards on the portfolio page */
  .card__title {
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-transform: none;
    margin-bottom: 4px;
  }
  .card__paragraph {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.logo {
  color: var(--accent-color);
  font-family: var(--logo-font-family);
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__black {
  color: var(--main-text-color);
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: transparent;
  outline-color: var(--accent-color);
  margin: 0;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  z-index: 99;
}

.mobile__menu-btn .icon-cross {
  display: none;
}

.mobile__menu-btn .icon-menu {
  display: block;
}

.mobile__menu-icon {
  fill: var(--main-text-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.mobile__menu-icon:hover, .mobile__menu-icon:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile__menu-icon {
    display: none;
  }
}

.mobile__menu-btn.is-open .icon-cross {
  display: block;
}

.mobile__menu-btn.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--basic-color);
  display: none;
  overflow-y: scroll;
  z-index: 15;
}

.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__item-nav:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.mobile-menu__link-nav--current {
  color: var(--accent-color);
}

.mobile-menu__item-contacts:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link-contacts--accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-menu__link-contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__item-social:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  padding-right: 10px;
}

.mobile-menu__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.hero {
  background-color: var(--bg-color-dark);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--basic-color);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__btn {
  background-color: var(--accent-color);
  color: var(--basic-color);
  min-width: 200px;
  cursor: pointer;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background-480@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background-480@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .advantage-list {
    max-width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .advantage-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.advantage-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  max-width: 450px;
  width: 100%;
  background-color: var(--bg-color-light);
  border-radius: 4px;
  margin: 0;
}

.advantage-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantage-list__title {
    text-align: center;
  }
}

.advantage-list__text {
  color: var(--secondary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

.section--background-light {
  background-color: var(--bg-color-light);
}

@media screen and (max-width: 767px) {
  .team {
    max-width: 450px;
  }
}

.team__item {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid var(--border-color);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__title {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}

.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--basic-color);
}

.socials__icon {
  fill: var(--social-icons-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

@media screen and (max-width: 767px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 480px;
    margin-left: calc(-1 * var(--mobile-gap));
    margin-top: calc(-1 * var(--mobile-gap));
  }
  .clients__item {
    width: 210px;
    height: 92px;
    -ms-flex-preferred-size: calc(100% / 2 - var(--mobile-gap));
        flex-basis: calc(100% / 2 - var(--mobile-gap));
    margin-left: var(--mobile-gap);
    margin-top: var(--mobile-gap);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

@media screen and (max-width: 1199px) {
  .footer-container {
    text-align: center;
  }
}

.footer-container__logo {
  font-family: var(--logo-font-family);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .footer-container__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.footer-container__logo--white {
  color: var(--basic-color);
}

.footer-container__address {
  margin-top: 20px;
}

.footer-container__link-map {
  color: var(--basic-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-container__item-map {
  font-style: normal;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-container__item-contact {
  margin-bottom: 8px;
}

.footer-container__item-contact:last-child {
  margin-bottom: 0px;
}

.footer-container__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-container__link:hover, .footer-container__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer__contacts-box {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .follow-us-box {
    margin-bottom: 60px;
  }
}

.follow-us-box__title {
  text-transform: uppercase;
  color: var(--basic-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.follow-us-box__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-us-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.follow-us-box__socials-item:not(:last-child) {
  margin-right: 10px;
}

.follow-us-box__icon {
  fill: var(--basic-color);
}

.follow-us-box__link:hover,
.follow-us-box__link:focus {
  background-color: var(--accent-color);
}

.footer__form-title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 20px;
}

.footer__form-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  height: 50px;
  padding: 15px 16px;
  width: 100%;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

@media screen and (max-width: 1199px) {
  .footer__form-input {
    margin-bottom: 20px;
    max-width: 450px;
  }
}

.footer__form-input:hover,
.footer__form-input:focus {
  border-color: var(--accent-color);
}

.footer__form-input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-btn {
  background-color: var(--accent-color);
  color: var(--basic-color);
  min-width: 200px;
  cursor: pointer;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  margin: auto;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer__form-btn:hover,
.footer__form-btn:focus {
  background-color: #188CE8;
}

.footer__form-icon {
  fill: var(--basic-color);
  margin-left: 11px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .filter__list {
    margin-bottom: 40px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 15px;
  }
}

.filter__btn {
  background-color: var(--bg-color-light);
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter__btn:hover, .filter__btn:focus {
  color: var(--basic-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn--active {
  color: var(--basic-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .cards-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cards-list .card__item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .cards-list .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.card__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover .card__overlay, .card__link:focus .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__description {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: var(--accent-color-alfa);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

@media screen and (max-width: 1199px) {
  .card__overlay {
    top: 1px;
  }
}

.card__text-overlay {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  padding: 63px 24px;
}

/* content within cards on the portfolio page */
.card__title {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  margin-bottom: 4px;
}

.card__paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile {
    margin-right: 88px;
  }
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation-list__item {
    position: relative;
    margin-right: var(--nav-margin-right);
  }
  .navigation-list__item:last-child {
    margin-right: 0;
  }
  .navigation-list__link::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
    margin-bottom: -1px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
    transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  }
  .navigation-list__link:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .navigation-list .navigation-list__link--current::after {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .navigation-list__link {
    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .navigation-list__link--current {
    color: var(--accent-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
  }
  .navigation-list__link:hover, .navigation-list__link:focus {
    color: var(--accent-color);
  }
}

.contact-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact-group {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-group__item {
  margin-right: var(--margin-right);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group__item {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group__item:first-child {
    margin-bottom: 10px;
  }
}

.contact-group__item:last-child {
  margin-right: 0;
}

.contact-group__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    padding: 0;
  }
}

.contact-group__link:hover, .contact-group__link:focus {
  color: var(--accent-color);
}

.contact-group__icon {
  fill: var(--secondary-text-color);
  margin-right: 10px;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group__icon--tablet-env {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-group__icon--tablet-phone {
    width: 10px;
    height: 14px;
  }
}

.contact-group__link:hover .contact-group__icon,
.contact-group__link:focus .contact-group__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-navigation {
    display: none;
  }
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background-768@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background-768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background/background@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/background@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
    margin-left: calc(-1 * var(--mobile-gap));
    margin-top: calc(-1 * var(--mobile-gap));
  }
  .advantage-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--mobile-gap));
        flex-basis: calc(100% / 2 - var(--mobile-gap));
    margin-left: var(--mobile-gap);
    margin-top: var(--mobile-gap);
  }
  .advantage-list__item:nth-child(-n+4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
    margin-left: calc(-1 * var(--mobile-gap));
    margin-top: calc(-1 * var(--mobile-gap));
  }
  .team__item {
    max-width: 354px;
    -ms-flex-preferred-size: calc(100% / 2 - var(--mobile-gap));
        flex-basis: calc(100% / 2 - var(--mobile-gap));
    margin-left: var(--mobile-gap);
    margin-top: var(--mobile-gap);
  }
  .team__item:nth-child(-n+4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
    margin-left: calc(-1 * var(--mobile-gap));
    margin-top: calc(-1 * var(--mobile-gap));
  }
  .clients__item {
    width: 226px;
    height: 92px;
    -ms-flex-preferred-size: calc(100% / 3 - var(--mobile-gap));
        flex-basis: calc(100% / 3 - var(--mobile-gap));
    margin-left: var(--mobile-gap);
    margin-top: var(--mobile-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    margin-top: var(--mt-pt);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (max-width: 1199px) {
  .filter__list {
    margin-bottom: var(--mob-tab-margin-bottom);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-width: 768px) and (max-width: 1199px) {
  .filter__item {
    margin-right: 8px;
    margin-bottom: 0;
    padding: 0;
  }
  .filter__item:last-child {
    margin-right: 0;
  }
  .cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .cards-list .card__item {
    display: block;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  .card__link {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__description {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .card__overlay {
    top: 1px;
  }
}
/*# sourceMappingURL=main.css.map */