.contact-group {
      @media screen and (max-width: 767px) {
        display: none;
      }
      
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: center;
      }

    display: flex;
    margin-left: auto;

    &__item {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 0;
      }
      &:first-child {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
          margin-bottom: 10px;
        }
      }
    margin-right: var(--margin-right);

    &:last-child {
    margin-right: 0;
  }
  }
    &__link {

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        display: block;
        padding: 0;
        }
  // &:last-child {
  //   @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   margin-top: 10px;
  //   }
  // }

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
    &__icon {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 8px;
      // width: 14px;
      // height: 10px;
    }

    fill: var(--secondary-text-color);
    margin-right: 10px;

    transition: fill var(--transition-duration) var(--transition-timing-function);

    }
  }

  .contact-group__icon--tablet-env{
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 14px;
      height: 10px;
    }
  }

  .contact-group__icon--tablet-phone {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 10px;
      height: 14px;
    }
  }

  .contact-group__link:hover .contact-group__icon,
  .contact-group__link:focus .contact-group__icon {
    fill: var(--accent-color);
  }