// /* cleints and logos */
@media screen and (min-width: 1200px) {
  .clients {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__item {
      width: 170px;
      height: 92px;
      margin-right: var(--margin-right);
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
}