/* footer logo and contacts */
.footer {
  background-color: var(--bg-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;

  &__left-side {
  margin-right: 70px;
}
  &__logo {
  color: var(--accent-color);
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--white {
  color: var(--basic-color);
}
}
  &__address {
  margin-top: 20px;

  .footer-container__link-map {
  color: var(--basic-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
}
  &__item-map {
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}
  &__item-contact {
  margin-bottom: 9px;

  &:last-child {
  margin-bottom: 0px;
}
}
  &__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
}

/* footer and socials to follow */
.follow-us__title {
  text-transform: uppercase;
  color: var(--basic-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.follow-us__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-us__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.follow-us__socials-item:not(:last-child) {
  margin-right: 10px;
}

.follow-us__icon {
  fill: var(--basic-color)
}

.follow-us__link:hover,
.follow-us__link:focus {
  background-color: var(--accent-color)
}

/* footer and input to subscribe */
.form-container {
  margin-left: auto;
}

.form__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

.form__field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form__input {
  display: flex;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  margin-right: 12px;
  outline: none;

  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--accent-color)
}

.form__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  background-color: var(--accent-color);
  color: var(--basic-color);
  min-width: 200px;
  cursor: pointer;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form__btn:hover,
.form__btn:focus {
  background-color: #188CE8;
}

.form__icon {
  fill: var(--basic-color);
  margin-left: 11px;
}