/* header navigation panel */
.navigation-list {
  display: flex;
  align-items: center;

  &__item {
  position: relative;
  margin-right: var(--nav-margin-right);

  &:last-child {
  margin-right: 0;
}
}

&__link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-bottom: -1px;

  transform: scaleX(0);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

&__link {
  &:hover::after {
    transform: scaleX(1);
  }
}
}

.navigation-list .navigation-list__link--current::after {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(1);
}


.navigation-list__link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-duration) var(--transition-timing-function);

  &--current {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

&:hover,
&:focus {
color: var(--accent-color);
}
}