// // /* header */

@media screen and (min-width: 1200px) {

  .header__container {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 26px;
    line-height: 1.19;

  }

  .mobile {
    margin-right: 93px;
  }
}