/* buttons on the portfolio page */
.filter__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: var(--default-margin-bottom);
}

.filter__item {
  margin-right: 8px;

  &:last-child {
  margin-right: 0;
}
}

.filter__btn {
  background-color: var(--bg-color-light);
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;

  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  
  &:hover,
  &:focus {
      color: var(--basic-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &--active {
  color: var(--basic-color);
  background-color: var(--accent-color);
}
}