@media screen and (min-width: 1200px) {
    .team {
        display: flex;
        justify-content: center;

        &__item:not(:last-child) {
            margin-right: var(--margin-right);
        }

        &__box {
            padding: 30px 32px;
        }
    }

}