.clients {
@media screen and (max-width: 767px) {
    display: flex;
      flex-wrap: wrap;
      max-width: 480px;
      margin-left: calc(-1 * var(--mobile-gap));
      margin-top: calc(-1 * var(--mobile-gap));
    
      &__item {
        width: 210px;
        height: 92px;
        flex-basis: calc(100% / 2 - var(--mobile-gap));
        margin-left: var(--mobile-gap);
        margin-top: var(--mobile-gap);
      }
}

  &__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  transition: border-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);

    .clients__icon {
      fill: var(--accent-color);
    }
  }
  }

  &__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);

  transition: fill var(--transition-duration) var(--transition-timing-function);
  }
}