.footer-container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }


  &__logo {
    @media screen and (max-width: 1199px) {
      font-size: 24px;
      line-height: 1.17;
    }

    font-family: var(--logo-font-family);
    font-weight: 700;

    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
    display: inline-block;

    &--white {
      color: var(--basic-color);
    }
  }

  &__address {
    margin-top: 20px;
  }

  &__link-map {
    color: var(--basic-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  &__item-map {
    font-style: normal;
    text-decoration: none;
    margin-bottom: 8px;
  }

  &__item-contact {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;

    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.footer__contacts-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.follow-us-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.follow-us-box__title {
  text-transform: uppercase;
  color: var(--basic-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.follow-us-box__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-us-box__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.follow-us-box__socials-item:not(:last-child) {
  margin-right: 10px;
}

.follow-us-box__icon {
  fill: var(--basic-color)
}

.follow-us-box__link:hover,
.follow-us-box__link:focus {
  background-color: var(--accent-color)
}

.footer__form-title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 20px;
}

.footer__form-input {
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    max-width: 450px;
  }

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  height: 50px;
  padding: 15px 16px;
  width: 100%;

  transition: border var(--transition-duration) var(--transition-timing-function);
}

.footer__form-input:hover,
.footer__form-input:focus {
  border-color: var(--accent-color)
}

.footer__form-input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-btn {
  background-color: var(--accent-color);
  color: var(--basic-color);
  min-width: 200px;
  cursor: pointer;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  margin: auto;

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer__form-btn:hover,
.footer__form-btn:focus {
  background-color: #188CE8;
}

.footer__form-icon {
  fill: var(--basic-color);
  margin-left: 11px;
}