:root {
  --basic-color: #FFFFFF;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --accent-color-alfa: rgba(33, 150, 243, 0.9);
  --bg-color-dark: #2F303A;
  --bg-color-light: #F5F4FA;
  --border-color: #ECECEC;
  --social-icons-color: #AFB1B8;
  --cards-list-gap: 30px;
  --mobile-gap: 30px;
  --nav-margin-right: 50px;
  --default-margin-bottom: 50px;
  --mob-tab-margin-bottom: 30px;
  --margin-right: 30px;
  --padding-top: 94px;
  --padding-bottom: 94px;
  --mt-pt: 60px;
  --mt-pb: 60px;
  --footer-pt: 60px;
  --footer-pb: 60px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --logo-font-family: "Raleway", sans-serif;
}